@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
body{
    font-family: 'Sansita Swashed', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: steelblue url('https://picsum.photos/1980/1080?random=1');
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
}
header{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.counters{
    background: steelblue;
    color: #fff;
    padding: 40px 20px;
    border-top: 3px solid beige;
}

.counters .container{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
.counters i{
    color: crimson;
}

.counters .counter{
    font-size: 45px;
    margin: 10px 0;
}

@media(max-width: 700px){
    .counters .container{
        grid-template-columns: repeat(2,1fr);
    }

    .counters .container > div:nth-of-type(1),
    .counters .container > div:nth-of-type(2){
        border-bottom: 2px solid beige;
        padding-bottom: 20px;
    }
}