@include media-md{
  .menu-btn{
    visibility: hidden;
  }
  .nav{
    visibility: visible;
    .menu-nav{
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;
      &-item{
        display: inline;
        padding-right: 1.5rem;
      }
      &-link{
        font-size: 1.5rem;
      }
    }
  }
  .about-bio{
    font-size: 1.5rem;
  }
  .projects{
    .projects-image{
      height: 40vh;
    }
    .projects-items{
      grid-template-columns: repeat(2, 1fr);
    }
    .text-secondary{
      font-size: 3rem
    }
  }

}
@include media-lrg{
  .projects{
    .projects-items{
      grid-template-columns: repeat(3, 1fr);
    }
}
}
