.about-me{
     @include container;
     @include clearfix;
     margin-top: 1em;
     margin-bottom: 5em;
}
.about-text{
    font-weight: 700;
    font-size: 1.5em;
    font-family: $ff-s;
}
.about-subtitle{
        margin: .5em 0;
}
.about-title{
    font-size: 2.5rem;
}
.about-img{
    max-height:  25em;
    @media (min-width: 42em){
       
        float: left;
        margin-right: 1em;
    } 

    @include mq{
        grid-row: 1/ 4;
    }
}
@supports(display: grid){
    .about-me{
        display: grid;
        grid-template-columns: [port-start ]minmax(6em, 1fr) [name-start]minmax(6em, 1fr) [img-end]2fr [port-end];
        grid-column-gap: 1em;
    }
    .about-img{
        grid-column: port-start / img-end;
        grid-row: 1 / 2;
    }
    .about-title{
        grid-column: name-start / port-end;
        grid-row: 1 / 2;
        align-self: end;
        margin-bottom: .25em;
    }
    .about-subtitle,.about-text{
        grid-column: port / port;
        @include mq{
            grid-column: image-end / port-end;
        }
    }
    .about-subtitle{
        grid-row: 2/ 3;
    }
    .about-text{
        grid-row: 3/ 4;
    }
    
}