footer{
    background: $black;
    padding: 5em 0;
    text-align: center;
    color: $white;
    font-family: $ff-ss;
}

.social-icons{
    @include container($max-width: 15em);
    display: flex;
    justify-content: space-between;
    margin: 4em auto;
}
.social-icon{
    width: 25%;
    height: 25%;
}
.copyright{
    &::before{
        content: '';
        display: block;
        height: 1px;
        background: $white;
        margin: 4em auto;
        width: 25%;
    }
}