.hidden{
    display: none;
}

@keyframes slidein{
    from{left: 100vw}
    to{left: 0}
}

@keyframes fade {
    from{opacity: 0}
    to {opacity: 1}
}

.slide{
    position: relative;
    animation-name: fade;
    animation-duration: 1s;
}
